[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=@MENU_TITLE@ (@SUB_FLAVOR@)
GenericName=Emacs
Comment=GNU @MENU_TITLE@ Text Editor
Exec=/usr/bin/@BIN_NAME@-@X_SUPPORT@
TryExec=@BIN_NAME@
Terminal=false
Type=Application
Icon=/usr/share/icons/@BIN_NAME@/emacs.xpm
Categories=Application;Utility;TextEditor;
MimeType=text/plain
