[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=@MENU_TITLE@ (client)
GenericName=Emacs
Comment=GNU @MENU_TITLE@ Client
Exec=/usr/bin/emacsclient.@BIN_NAME@ -a @BIN_NAME@
TryExec=@BIN_NAME@
Terminal=false
Type=Application
Icon=/usr/share/icons/@BIN_NAME@/emacs.xpm
Categories=Development;Utility;TextEditor;
MimeType=text/plain
