Source: emacs-snapshot
Section: editors
Priority: optional
Maintainer: Julien Danjou <acid@debian.org>
Build-Depends: libncurses5-dev,
               texinfo,
               liblockfile-dev,
               libgif-dev,
               libtiff-dev,
               libpng-dev,
               libjpeg-dev | libjpeg62-dev | libjpeg8-dev,
               libxpm-dev,
               libxaw7-dev,
               libgtk-3-dev | libgtk2.0-dev,
               dpkg-dev (>= 1.15.6),
               quilt (>= 0.42),
               debhelper (>= 8.9.7),
               libasound2-dev [linux-any],
               libselinux1-dev [linux-any],
               librsvg2-dev,
               lsb-release,
               libxft-dev,
               libm17n-dev,
               libotf-dev,
               libdbus-1-dev,
               libgpm-dev [linux-any],
               libmagickwand-dev,
               libxml2-dev,
               libgnutls28-dev,
               autoconf (>= 2.65), automake (>= 1.11)
Standards-Version: 3.9.3
Homepage: http://www.gnu.org/software/emacs/
Vcs-Browser: http://git.debian.org/?p=users/acid/emacs-snapshot.git
Vcs-Git: git://git.debian.org/git/users/acid/emacs-snapshot.git
Bugs: mailto:acid@debian.org

Package: emacs-snapshot-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6)
Recommends: imagemagick
Depends: emacsen-common (>= 1.4.10), install-info, ${misc:Depends}
Suggests: emacs-snapshot-el
Conflicts: emacs-snapshot (<< 1:20060120-2),
           emacs-snapshot-gtk (<< 1:20060120-2),
           emacs-snapshot-nox (<< 1:20060120-2)
Description: The GNU Emacs editor's common infrastructure
 GNU Emacs is the extensible self-documenting text editor.
 This package contains the infrastructure common between emacs-snapshot
 and emacs-snapshot-nox.

Package: emacs-snapshot-bin-common
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot-common (= ${source:Version}), ${shlibs:Depends},
         ${misc:Depends}
Conflicts: emacs-snapshot (<< 1:20060120-2),
           emacs-snapshot-gtk (<< 1:20060120-2),
           emacs-snapshot-nox (<< 1:20060120-2)
Description: The GNU Emacs editor's shared, architecture dependent files
 GNU Emacs is the extensible self-documenting text editor.
 This package contains the architecture dependent infrastructure
 that's shared by emacs-snapshot and emacs-snapshot-nox.

Package: emacs-snapshot
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot-bin-common (= ${binary:Version}), ${shlibs:Depends},
         ${misc:Depends}
Provides: emacsen, editor, info-browser, mail-reader, news-reader
Conflicts: emacs-snapshot-gtk (<= 1:20070824-1)
Description: The GNU Emacs editor (development snapshot)
 GNU Emacs is the extensible self-documenting text editor.

Package: emacs-snapshot-gtk
Priority: extra
Architecture: all
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot, ${misc:Depends}
Description: The GNU Emacs editor (transitional package)
 Empty package to facilitate upgrades, can be safely removed.

Package: emacs-snapshot-nox
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot-bin-common (= ${binary:Version}), ${shlibs:Depends},
         ${misc:Depends}
Provides: emacs-snapshot, emacsen, editor, info-browser, mail-reader, news-reader
Description: The GNU Emacs editor (without X support)
 GNU Emacs is the extensible self-documenting text editor.
 This package contains a version of Emacs compiled without support for X.

Package: emacs-snapshot-lucid
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot-bin-common (= ${binary:Version}), ${shlibs:Depends},
         ${misc:Depends}
Provides: emacs-snapshot, emacsen, editor, info-browser, mail-reader, news-reader
Description: The GNU Emacs editor (with X support by lucid/athena toolkit)
 GNU Emacs is the extensible self-documenting text editor.
 This package contains a version of Emacs compiled with lucid toolkit.

Package: emacs-snapshot-xlib
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot-bin-common (= ${binary:Version}), ${shlibs:Depends},
         ${misc:Depends}
Provides: emacs-snapshot, emacsen, editor, info-browser, mail-reader, news-reader
Description: The GNU Emacs editor (with X support by plain xlib)
 GNU Emacs is the extensible self-documenting text editor.
 This package contains a version of Emacs compiled with plain xlib.

Package: emacs-snapshot-el
Architecture: all
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot-common (= ${source:Version}), ${misc:Depends}
Description: GNU Emacs LISP (.el) files
 GNU Emacs is the extensible self-documenting text editor.
 This package contains the elisp sources for the convenience of users,
 saving space in the main package for small systems.

Package: emacs-snapshot-dbg
Section: debug
Priority: extra
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: emacs-snapshot (= ${binary:Version}) | emacs-snapshot-nox (= ${binary:Version}),
         ${misc:Depends}
Description: The GNU Emacs editor (debugging symbols)
 GNU Emacs is the extensible self-documenting text editor.
 This package contains the debugging symbols useful for debugging Emacs.
